$bg: 1440px;

#root{
    background-image: url("../images/bg-mobile.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--violet);

    @media(min-width: $bg){
        background-image: url("../images/bg-desktop.svg");
    }
}
.layout{
    padding: 3.8rem 3.5rem 4rem 3.6rem;

    @media(min-width: $bg){
        padding: 6.4rem 8rem 4rem 8rem;
        display: grid;
        
    }
}