#root{
    background-image: url("../images/bg-mobile.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--violet);
}
.layout{
    padding: 3.8rem 3.5rem 4rem 3.6rem;
}